name: PR watcher  

on:
  pull_request:
    types: [opened, synchronize, reopened,closed]

jobs:
  watch-pr:
    runs-on: ubuntu-latest
    if: github.event.pull_request.state == 'open'
    steps:
      - name: Check PR status in a loop
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          REPO: ${{ github.repository }}
        run: |
          echo "Watching PR #$PR_NUMBER"
          echo "PR never closed during execution"
          sleep 60
  post-check:
    runs-on: ubuntu-latest
    needs: [watch-pr]
    if: github.event.pull_request.state == 'open'
    steps:
      - name: hola
        run: |
          echo "hola"
    
